@media only screen and (min-width: 1250px) {
  body {
    background-color: #f1f5f8;
  }
  .img {
    width: 350px;
    height: 150px;
  }
  .login {
    border: 1px solid black;
    width: 300px;
    height: 310px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 500px;
    background-color: white;
  }
  form h3 {
    text-align: left;
    margin: 1em 1em;
  }
  form h4 {
    text-align: left;
    margin: 1em 1em;
  }
  .input {
    width: 80%;
    padding-top: 10px;
    border-radius: 3px;
    outline: none;
    border: 2px solid black;
    line-height: 1em;
  }
  .button {
    width: 100px;
    background-color: #006400;
    height: 30px;
    text-align: center;
    color: black;
    font-size: 18px;
    padding-bottom: 25px;
  }
  .registerbutton {
    padding-top: 30px;
  }
}
